In [65]:
import pandas as pd
import re

# Replace with your Google Sheets ID
sheet_id = "1g4W01_3lNZrf9yeH8DyQXjnMboASaR10p_gcFZSoqKw"
url_template = (
    f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv"  # &sheet=
)

# Load the CSV file with articles
df = pd.read_csv(url_template)

# Function to remove Malayalam words, duplicates, and the '#' character
def clean_tags(tags):

    # Split the tags into a list
    tag_list = [tag.strip() for tag in str(tags).split(",")]

    # Define a regex pattern to match local language words
    # malayalam - [\u0D00-\u0D7F]+
    # telugu - [\u0C00-\u0C7F]+
    # tamil - [\u0B80-\u0BFF]+
    # bengali - [\u0980-\u09FF]+
    # marathi and hindi - [\u0900-\u097F]+
    # odia - [\u0B00-\u0B7F]+
    # gujarati - [\u0A80-\u0AFF]+
    # kananda - [\u0C80-\u0CFF]+

    # This pattern matches any character outside the ASCII (English) range
    lang_pattern = re.compile(r"[^\x00-\x7F]")

    # Use an ordered dictionary to filter out duplicates and preserve order
    filtered_tags = {tag: None for tag in tag_list if not lang_pattern.search(str(tag))}

    # Return the cleaned, comma-separated tags
    return ", ".join(filtered_tags.keys())


# Apply the function to the MergedTags column
df["CleanedTags"] = df["CleanedTags"].apply(clean_tags)

# Display the cleaned tags
df[["ExistingTags", "CleanedTags"]]

,ExistingTags,CleanedTags
0,"india, indian army, interesting facts","india, indian army, interesting facts"
1,"chennai metro, news, chennai","chennai metro, news, chennai"
2,"chennai, news, travel","chennai, news, travel"
3,"chennai, bengaluru, chennai metro, bengaluru m...","chennai, bengaluru, chennai metro, bengaluru m..."
4,"temple, tamil nadu","temple, tamilnadu"
...,...,...
4642,"travel, manali, tour, chandigar","travel, manali, tour, chandigar"
4643,"travel, temple","travel, temple"
4644,"travel, temple","travel, temple"
4645,travel,travel
4646,"travel, temple","travel, temple"

In [66]:
df["CleanedTags"][2]

'chennai, news, travel'

In [67]:
df.to_excel("Cleaned_file_tamil.xlsx", index=False)

In [9]:
# sheet_id = '1CcoXdNk17gG1S9UFfS9ARSR2NcKQ8MFV'
# sheet_name = 'Sheet1'  # Replace with the actual sheet name
# sheet_url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'
sheet_url = "/home/greynium/Aswathi/cleaned_files/BoldSky/Cleaned_file_malayalam.xlsx"

df = pd.read_excel(sheet_url)
# df.head(3)

tag_df_kannada = pd.read_csv(
    f"https://docs.google.com/spreadsheets/d/12dVHu4TpQZk-4QKaIq8VwYfOa6mHVCkncMSPnqQSais/gviz/tq?tqx=out:csv&sheet=BS+Malayalam"
)
# tag_df_kannada.head(3)
df.info()

tag_df_kannada.columns
# Convert the Tag column to a set for faster lookups
tag_set = set(tag_df_kannada["Tag"].dropna())
tag_set = {tag.lower() for tag in tag_set}


# Function to filter tags in CleanedTags based on presence in the tag_set
def filter_tags(cleanedtags):
    # Split CleanedTags by commas and filter out the tags not in tag_set
    tags_list = cleanedtags.split(",")
    filtered_tags = [tag.strip() for tag in tags_list if tag.strip() in tag_set]
    # Join the filtered tags back into a comma-separated string
    return ", ".join(filtered_tags)


# Apply the function to the CleanedTags column
df["CleanedTags"] = df["CleanedTags"].apply(filter_tags)

# Display the result
df[["ExistingTags", "CleanedTags"]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9990 entries, 0 to 9989
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PublishDate         9990 non-null   object
 1   Title               9990 non-null   object
 2   WebURL              9990 non-null   object
 3   Content             9989 non-null   object
 4   CategoryName        9990 non-null   object
 5   ExistingTags        9990 non-null   object
 6   MergedTags          9990 non-null   object
 7   ArticleID           9990 non-null   int64
 8   GeneratedTagsllama  9451 non-null   object
 9   TagsNotInList       8683 non-null   object
 10  CleanedTags         9990 non-null   object
dtypes: int64(1), object(10)
memory usage: 858.6+ KB

,ExistingTags,CleanedTags
0,"transit, horoscope, astrology","transit, horoscope, astrology"
1,"horoscope, astrology","horoscope, astrology, business, family"
2,"skin care, beauty","skin care, beauty, face mask"
3,"family, relationship","family, relationship"
4,"food, health, tips","food, health, tips, diet"
...,...,...
9985,"doctor, ഡോക്ടര്‍","doctor, health care"
9986,"worship, hinduism, ആത്മീയത, ആരാധന","worship, hinduism, spirituality"
9987,"oil, acne, മുഖക്കുരു","oil, acne, pimples, health"
9988,"rabies, wound, symptoms, ലക്ഷണങ്ങള്‍, റാബീസ്, ...","rabies, wound, symptoms, vaccine, death"
9989,"face, skin, face pack, മുഖം, ചര്‍മ്മം","face, skin, face pack, fruit, face mask"

In [10]:
df["CleanedTags"][4884]

'astrology, zodiac sign, horoscope'

In [11]:
df.to_excel("Cleaned_file_malayalam.xlsx", index=False)

In [ ]:
import pandas as pd
import subprocess
import time
from concurrent.futures import ThreadPoolExecutor

tag_df_telugu = pd.read_csv(f'https://docs.google.com/spreadsheets/d/1STUzG08LqSKC4wxKtqB19qJ1J6iHhlkAQLwjReZmN8c/gviz/tq?tqx=out:csv&sheet=OI+Telugu')

tag_df_telugu.columns
# Convert the Tag column to a set for faster lookups
tag_set = set(tag_df_telugu['Tag'].dropna())

def generate_tags(article_content, existing_tags, tag_set):
    count_existing_tag = len(' '.join(existing_tags.split(', ')))
    if count_existing_tag >= 3:
        return existing_tags
    else:
        command = ['ollama', 'run', 'gemma2']  # Adjust this as needed for your environment

        template_prompt = f"""
        Pick exactly 5 relevant tags from {tag_set} for {article_content}
        avoid spelling mistakes and avoid dates and months
        Return english tags in lowercase, separated by commas, with no extra text or special characters.
        """

        try:
            # Use subprocess to call the Ollama command and pass the prompt via stdin
            process = subprocess.Popen(
                command,
                stdin=subprocess.PIPE,
                stdout=subprocess.PIPE,
                stderr=subprocess.PIPE,
                text=True
            )
            
            # Send the prompt to the model and get stdout and stderr
            stdout, stderr = process.communicate(input=template_prompt)
            
            if process.returncode == 0:
                # Process stdout to clean up tags
                output = stdout.strip().lower()
                
                # Remove everything before and including the first colon
                if ":" in output:
                    output = output.split(":", 1)[-1].strip()
                    
                # Remove any text after a new line
                output = output.split("\n", 1)[0].strip()
                
                # Remove quotes at the beginning and end, if present
                if output.startswith('"') and output.endswith('"'):
                    output = output[1:-1].strip()
                
                return output
            else:
                print("Error:", stderr.strip())
                return None

        except Exception as e:
            print("An error occurred:", str(e))
            return None

# Start timing the overall process
start_time = time.time()

# Load and limit the dataset
df = pd.read_csv('/home/oi.temp-aswathi/ollama/telugu_dataset.csv')
# df = df[:20]

# df = pd.read_csv(f'https://docs.google.com/spreadsheets/d/1TrrMOCo4BCtR_-c9muNOI8PaNLxX3l_s0W924scx7tw/gviz/tq?tqx=out:csv&sheet=cleaned_tags_telugu')
df = df[2000:2100]

# Parallel processing with ThreadPoolExecutor, passing both content and existing tags
with ThreadPoolExecutor(max_workers=4) as executor:
    df['GeneratedTagsOllama'] = list(executor.map(generate_tags, df['Content'],df['ExistingTags'], tag_set))

# Save the results to a new CSV file
df.to_csv('articles_with_tags_ollama_telugu.csv', index=False)

# Calculate and print the total time taken
end_time = time.time()
total_time = end_time - start_time

print("Tags generated for the articles and saved to 'articles_with_tags_ollama_telugu.csv'.")
print(f"Total time taken: {total_time:.2f} seconds.")